/* version 3.0 table added */
.phppot-container {
	-webkit-font-smoothing: antialiased;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: .9em;
	color: #1e2a28;
	width: 100%;
	margin: 0 auto;
	
}

.phppot-container table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 30px;
}

.phppot-container td, .phppot-container th {
	text-align: left;
	padding: 8px;
}

.phppot-container h1 {
	font-weight: normal;
}

input[type=text].phppot-input, .phppot-container input,
	.phppot-container textarea, .phppot-container select, .phppot-input,
	.phppot-select {
	box-sizing: border-box;
	width: 200px;
	height: initial;
	padding: 20px;
	border: 1px solid rgba(250, 250, 250, 0.20);
	border-radius: 3px;
	background-color: rgba(250, 250, 250, 0.20);
	outline: none;
	background-color: transparent;
}

.phppot-container input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
	display: initial;
	opacity: initial;
	position: inherit;
	pointer-events: initial;
}

.phppot-container textarea, .phppot-textarea {
	width: 300px;
}

.phppot-container select, .phppot-select {
	display: initial;
	height: 30px;
	background-color: rgba(250, 250, 250, 0.20);
	padding: 2px 5px;
}

.phppot-container button, .phppot-container input[type=submit] {
	margin: 30px auto;
	width: 20px 45px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
	text-decoration: none;
	background: rgb(9,9,121);
	color: #fefefe;
	text-align: center;
	outline: none;
	
}

.phppot-container button, .phppot-container input[type=submit]:hover {
	background: rgb(9,9,121);
	background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
	color: #fefefe;
	
}

.phppot-container button:focus {
	outline: none;
}

.phppot-container .phppot-row {
	padding-top: 15px;
}

#phppot-message {
	padding: 6px 20px;
	font-size: 1em;
	color: rgb(40, 40, 40);
	box-sizing: border-box;
	margin: 0px;
	border-radius: 3px;
	width: 100%;
	overflow: auto;
}

.phppot-container .error {
	padding: 6px 20px;
	border-radius: 3px;
	background-color: #fb817c;
	border: 1px solid #e46b66;
}

.phppot-container .success {
	background-color: #48e0a4;
	border: #40cc94 1px solid;
}

#phppot-loader-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#phppot-loader-ack-icon {
	color: #1871e6;
	font-weight: bold;
	padding: 6px 20px 6px 0;
	display: none;
	vertical-align: middle;
}

#phppot-btn-send:hover {
	background: #1363cc;
	border: #105bbd 1px solid;
}

.phppot-container .validation-message {
	color: #e20900;
	display: inline-block;
}

.phppot-container .label {
	margin-bottom: 3px;
}

.phppot-form, .phppot-section {
	border: #eaeaea 1px solid;
	padding: 10px 25px 10px 30px;
	border-radius: 3px;
}

.phppot-container .display-none {
	display: none;
}

.icon-add-more-attachemnt {
	cursor: pointer;
	font-style: italic;
	font-size: .9em;
}

.inline-block {
	display: inline-block;
}

@media all and (max-width: 780px) {
	.phppot-container {
		width: auto;
	}
}

@media all and (max-width: 400px) {
	.phppot-container {
	
	}
	.phppot-container h1 {
		font-size: 1.2em;
	}
	.phppot-container input, .phppot-container textarea, .phppot-container select
		{
		width: 100%;
	}
	.phppot-form {
		border: none;
		padding: 0;
	}
}