html{
	box-sizing: border-box;

}
*{
	box-sizing: inherit;
}
body{
	
	padding: 0;
	margin: 0;
	position: 0;
	overflow-x: hidden;
	width: 100%;
	background-repeat: no-repeat;
	background-color:hsla(0,100%,99%,1);
	background-image:
	radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
	radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
	radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
	radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
	radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
	radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
	radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}

.navigation{
	display: flex;
	justify-content: space-around;
	background: rgba(178, 231, 248, 0.1);
	
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(178, 231, 248, 0.1);

    width: 100%;
    z-index: 2;
    top: 0;
	padding: 25px;
	align-items: center;
	position: absolute;
	position: 0;

}
#logo{
	width: 250px;
}
#navigation a{
	text-decoration: none;
	color: #fefefe;
	margin-left: 30px;

}
#navigation a:hover{
	text-decoration: none;


	
}
#signupBtn{
	font-weight: 500;
    height: auto;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 12px;
    transition: .5s;
	background: rgb(9,9,121);
}
#signupBtn:hover{
	background: rgb(9,9,121);
	background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
#loginBtn{
	font-weight: 500;
    height: auto;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 12px;
    transition: .5s;
	background: rgb(9,9,121);
}
#loginBtn:hover{
	background: rgb(9,9,121);
	background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
#imglogin{
	width: 20px;
	padding-right: 10px;
	align-items: center;
}
.mobile-nav{
	display: none;
}
.container-privacy{
	width: 80%;
	margin: 0 auto;
	padding-top: 140px;
}
.random-number{
	background-color: #176701;
	padding: 25px;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 5px;
}

.sign-up-container {
	color: #151515;
	border-radius: 4px;
	padding-top: 140px;
	width: 100%;
	text-align: center;
	align-items: top;
}
#goBtn{
	text-decoration: none;
	background: linear-gradient(37.13deg,#f9d801 .71%,#f83201 32.68%,#d31f4f 51.39%,#7e3cb1 85.54%);
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    width: 75px;
	font-size: 25px;
    line-height: 65px;
    font-weight: 500;
    height: 65px;
	
}

.page-header {
	float: right;
}

.login-signup {
	margin: 10px auto;
	padding: 20px 45px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
	text-decoration: none;
	background-color: #bf2768;
	border: 1px solid #bf2768;
	text-decoration: none;
	color: #fefefe;
	text-align: center;
	
}

.login-signup a {
	text-decoration: none;
	font-weight: 700;
}

.signup-heading {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.row {
	margin: 15px 0px;
	text-align: center;
}

.form-label {
	margin-bottom: 5px;
	text-align: left;
}

input.input-box-330 {
	width: 250px;
	padding: 10px 25px;
	border-radius: 10px;
	background-color : rgba(250 250 250 / 15%);
	color: #151515 !important; 
	border: 1px solid rgba(250 250 250 / 15%);;
	
}
input[type="text"], textarea {
	outline: none;
	background-color : rgba(250 250 250 / 15%);
	color: #151515; 
	border: 1px solid rgba(250 250 250 / 15%);;
  }
input[type="text"], textarea:focus {
	outline: none;
	background-color : rgba(250 250 250 / 15%);
	color: #fefefe; 
	border: 1px solid rgba(250 250 250 / 15%);
  }
input[type="text"], textarea::selection{
	background-color : rgba(250 250 250 / 15%);
	color: #fefefe; 
	border: 1px solid rgba(250 250 250 / 15%);;
	outline: none;
}

.sign-up-container .error {
	color: #ee0000;
	padding: 0px;
	background: none;
	border: #ee0000;
}

.sign-up-container .error-field {
	border: 1px solid #d96557;
}

.sign-up-container .error:before {
	content: '*';
	padding: 0 3px;
	color: #D8000C;
}

.error-msg {
	padding-top: 10px;
	color: #D8000C;
	text-align: center;
}

.success-msg {
    padding-top: 10px;
	color: #176701;
	text-align: center;
}

input.btn {
	width: 250px
}

.signup-align {
	width: 30%;
	margin: 0 auto;
	padding: 25px;
	background: rgba(178, 231, 248, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	
	border: 1px solid rgba(178, 231, 248, 0.1);
}

.page-content {
	font-weight: bold;
	padding-top: 60px;
	text-align: center;
}
.infoP{
	margin-top: 50px;
	text-align: center;
}

.side-menu {
    display: none;
} /* Hide checkbox */
#sub-navigation {
	display: none;
	position: fixed;
	top: 70px;
    right: 10%;
	width: 80%;
	margin: 0 auto;
	padding: 25px;
	background: rgba(178, 231, 248, 0.8);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);

	border: 1px solid rgba(178, 231, 248, 0.8);
  }
  #sub-navigation a{
	text-decoration: none;
	color: #fefefe;
	margin-top: 25px;
  }
  #sub-navigation .notBtn{
	color: #454545;
}
  .hamb{
    cursor: pointer;
    float: right;
 
}/* Style label tag */

.hamb-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
#sub-nav:checked ~ .hamb .hamb-line {
    background: transparent;
}
#sub-nav {
    display: none;
} /* Hide checkbox */
#sub-nav:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
#sub-nav:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
@media all and (max-width: 780px) {
	footer a img{
		width: 30px;
	}
	#goBtn{
		width: 75px;
		font-size: 18px;
    	line-height: 65px;	

	}
	
	footer a {
		margin-left: 10px !important;
	}
	.login-signup{
		padding: 20px 45px;
		width: 100%;
	}
	.phppot-container button, .phppot-container input[type=submit]{
		padding: 20px 45px;
		width: 100%;
	}
	input.input-box-330{
		padding: 10px 45px;
		width: 100%;
	}
	.signup-align{
		width: 80%;
	}
	.sign-up-container{
		
		padding-top: 120px;
		
	}
	#navigation{
		display: none;
	}
	#sub-nav:checked ~ #sub-navigation {
		display: flex;
		flex-direction: column;
	  }
	  
	  .sub-nav-toggle span:after {
		content: "\2630";
	  }
	

	#sub-nav{
		border-style: none;
	}
	.mobile-nav{
		display: block;
	}
	#logo{
		width: 150px;
	}
	.navigation{
		padding: 20px 0px;
		
	
	}
	#sub-navigation{
		right: 3%;
	}

}
@media all and (min-width:780px) and (max-width: 1080px) {
	.signup-align{
		width: 50%;
	}
	body{
		overflow: hidden;
	}
	
}



